@page
@model PropertyManagement.Pages.Property_Octions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property_Oction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Property_Oction.Id" />
            <div class="form-group">
                <label asp-for="Property_Oction.Bid_Price" class="control-label"></label>
                <input asp-for="Property_Oction.Bid_Price" class="form-control" />
                <span asp-validation-for="Property_Oction.Bid_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property_Oction.Property_Id" class="control-label"></label>
                <input asp-for="Property_Oction.Property_Id" class="form-control" />
                <span asp-validation-for="Property_Oction.Property_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property_Oction.Customer_Id" class="control-label"></label>
                <input asp-for="Property_Oction.Customer_Id" class="form-control" />
                <span asp-validation-for="Property_Oction.Customer_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property_Oction.Dealer_Id" class="control-label"></label>
                <input asp-for="Property_Oction.Dealer_Id" class="form-control" />
                <span asp-validation-for="Property_Oction.Dealer_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
