@page
@model PropertyManagement.Pages.Dealer_Details.EditModel

@{
    ViewData["Title"] = "Edit";
}
<!--heding tag for edit dealer-->
<h1>Edit</h1>

<h4>Dealer_Detail</h4>
<hr />
<!--labels which shoes in edit dealer table-->
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dealer_Detail.Id" />
            <div class="form-group">
                <label asp-for="Dealer_Detail.Dealer_Name" class="control-label">Dealer Name</label>
                <input asp-for="Dealer_Detail.Dealer_Name" class="form-control" />
                <span asp-validation-for="Dealer_Detail.Dealer_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dealer_Detail.Dealer_Address" class="control-label">Dealer Address</label>
                <input asp-for="Dealer_Detail.Dealer_Address" class="form-control" />
                <span asp-validation-for="Dealer_Detail.Dealer_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dealer_Detail.Mobile" class="control-label">Phone No.</label>
                <input asp-for="Dealer_Detail.Mobile" class="form-control" />
                <span asp-validation-for="Dealer_Detail.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dealer_Detail.Email" class="control-label">Email Address</label>
                <input asp-for="Dealer_Detail.Email" class="form-control" />
                <span asp-validation-for="Dealer_Detail.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
